html, body{
    width: 100%;
    height: 100%;
    background-color: lightpink;
}

#questionMark{
    background-color: lightyellow;
}

.container{
    text-decoration-line: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;



    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#instructionsReopenButton{
    position: absolute;
    left: 5px;
    top: 5px;
}

.boxContainer{
    max-width: 75%;
    width: 70%;
    margin: 0;
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    display: none;

    height: fit-content;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.messageContainer{
    margin: 0;

    width: 200px;
    height: fit-content;
    padding: 25px;
    position: relative;
    z-index: 100;
    
    background-color: lightcoral;
    border: black solid 2px;
}

#instructionsContainer{
    width: 50%;
    text-align: center;
}



.error{
    text-align: center;
}

.xButton{
    position: absolute;
    top: 5px;
    right: 5px;
}

.monsterContainer{
    position: relative;
    align-items: center; 
}

.monsterPicture{
    width: 50%;
    padding: 10px;
}

.initialImg{
    max-height: 300px;
    padding: 10px;
    border: black solid 1px;
}

#monster{
    display: inline-block;
    padding-right: 10px;
    align-self: center;
    position: relative;
}

#health{
    position: relative;
    /* display: inline-block; */
}

.taskDifficulty{
    display: inline-block;
    position: relative;
    padding-right: 5px;

}

input[type = "radio"]{
    margin: 0 5px 0 15px;
    padding-right: 5px;
    display: inline;
}
/* 
.addContainer{
    
} */

.task-styling{
    margin: 0;
    cursor: pointer;
    font-size: 40px;
}

.monsterImg{
    height: 300px;
}


